{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% import
"_macros.html" as macros %} {% block title %}Visit - User List {% endblock %} {%
block content %} <br /><br /><br />
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-6 col-lg-6 text-left">
      {% if active_users %}
      <a href="{{ url_for('auth.user_list') }}?active=False"
        >View Inactive Users</a>
      {% else %}
      <a href="{{ url_for('auth.user_list') }}?active=True"
        >View Active Users</a>
      {% endif %}
    </div>
    <div class="col-xs-6 col-md-6 col-lg-6" style="padding-right: 0%;">
        <form method="GET">
            <div class="col-xs-12 col-md-7 col-lg-8" style="float: right;">
            <input type="hidden" name="active" value="{% if active_users %}True{% else %}False{% endif %}" />
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="search_input" />
                        <div class="input-group-btn">
                            <button class="btn btn-success" type="submit" value="Send">Search</button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
  </div>
<br /><br />
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12" style="padding: 0%;">
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      {% for user in list_of_users|sort(attribute='id') %}
      <tr>
        <td>{{ user.email }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.department }}</td>
        <td><a class="btn btn-success" style="font-size:12px" href="{{ url_for('auth.user_profile', user_id=user.id) }}">Edit</a>
        <td><a class="btn btn-info" style="font-size:12px" href="{{ url_for('auth.admin_reset', user_id=user.id) }}">Reset</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</div>

{% endblock %}
