{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
NYCDORIS Visit
{% endblock %}


{% block content %}

<body style="padding-top:30px">
  <div class="index-header text-center">
    <h1>Welcome to NYC Department of Records</h1>
    <h2 class="lead">Please Sign In below</h2>
  </div>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-2"></div>
      <div class="col-md-6 col-sm-8">
        <form method="POST" action="/index">
          {{ form.hidden_tag() }}
          {{wtf.quick_form(form)}}
          <!-- <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstname">First Name</label>
          <input class="form-control" id="firstname" placeholder="First Name">
        </div>
        <div class="form-group col-md-6">
          <label for="lastname">Last Name</label>
          <input class="form-control" id="lastname" placeholder="Last Name">
        </div>
        <div class="form-row">
        <div class="form-group col-md-12">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
      </div>
      <div class="form-row">
      <div class="form-group col-md-12 align-self-center">
        <button type="submit" class="btn btn-success">Submit</button>
        </div>
        </div>
      </div> -->
        </form>
      </div>
      <div class="col-md-3 col-sm-2"></div>
    </div>
  </div>


</body>
<!-- </div>/.container -->
{% endblock %}