{% extends "bootstrap/base.html" %}
{% block title %}
NYCDORIS Visit
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-fixed-top navbar-default" role="navigation"
  style="border-radius: 0; background-color: black; border-color: black;">
  <div class="container">
    <div class="navbar-header">
      {% if current_user.is_authenticated %}
      <a class="navbar-brand" href="{{ url_for('auth.index') }}" style="color:white">NYCDORIS Visit</a>
      {% else %}
      <a class="navbar-brand" href="{{ url_for('main.index') }}" style="color:white">NYCDORIS Visit</a>
      {% endif %}
    </div>
    <div>
      <ul class="nav navbar-nav">
        {% if current_user.is_authenticated %}
        <li><a style="color:white"  href="{{ url_for('auth.user_list_page') }}">Edit User Information</a>
        <li><a style="color:white" href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
        <li><a style="color:white" href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}