{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
NYCDORIS Visit
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='base.css')}}">
{% endblock %}

{% block content %}
<div class="index-header text-center">
    <h1>Welcome {{ fname }} {{ lname }} !</h1>
</div>

<script>
    function myFunction() {
        location.replace("/index")
    }
    setTimeout(function () { myFunction(); }, 3000);
</script>

{% endblock %}