{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
NYCDORIS Login
{% endblock %}


{% block content %}
<body>
<div class="container">
  <nav class="navbar navbar-fixed-top navbar-default" role="navigation" style="border-radius: 0; background-color: black; border-color: black;">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}" style="color:white">NYCDORIS Visit</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
        
          <li><a style="color:white" href="{{ url_for('login') }}">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<br><br><br><br><br><br>
  <div class="index-header text-center">
    <h1>Welcome to NYC Department of Records</h1>
    <h2 class="lead">Please Log In below</h2>
  </div>
  <br><br><br>
<div class="container">
  <div  class="row">
    <div class="col-md-4 col-sm-3"></div>
    <div class="col-md-4 col-sm-6">
      <form method="POST" action="/index">
        {{ form.hidden_tag() }}
        {{wtf.quick_form(form)}}
      </form>
    </div>
    <div class="col-md-4 col-sm-3"></div>
  </div>
</div>


</body>
<!-- </div>/.container -->
{% endblock %}